/* בסיס כללי */
body {
    background-color: #f8f5f0;
    color: #333;
    font-family: "Varela Round", sans-serif;
    direction: rtl;
}

/* מבטל אנימציות */
* {
    animation: none !important;
    transition: none !important;
}

/* קישורים */
a {
    color: #e57c23;
    text-decoration: underline;
}

/* כפתורים */
.button {
    background-color: #e57c23;
    color: #fff;
    border: none;
    padding: 0.75em 2em;
    border-radius: 30px;
    font-weight: bold;
}

/* אזורי תוכן */
.main {
    padding: 4em 2em;
    background: #fff6e5;
    color: #333;
}

/* טפסים */
form input, form textarea {
    width: 100%;
    padding: 1em;
    border: 1px solid #ccc;
    margin-bottom: 1em;
}

/* פוטר */
#footer {
    background-color: #f5eee1;
    text-align: center;
    padding: 2em 0;
    font-size: 0.9em;
}